@import "../../../../scss/client/mixins";
@import "../../../../scss/client/variables";

.change-password-form {
  width: 100%;
  max-width: 460px;
  margin: $margin-md;

  &__container {
    display: flex;
    justify-content: center;
    margin-bottom: $margin-xl;
  }

  &__title {
    text-align: center;
    margin-top: 0;
  }
}
